@keyframes animation {
    0% {
        transform: translateY(-2rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

.user {
    transform: translateY(-2rem);
    opacity: 0;
    animation: animation 500ms ease-in-out forwards;
}

.username {
    transform: translateY(-2rem);
    opacity: 0;
    animation: animation 500ms ease-in-out 200ms forwards;
}
.email {
    transform: translateY(-2rem);
    opacity: 0;
    animation: animation 500ms ease-in-out 400ms forwards;
}

.password {
    transform: translateY(-2rem);
    opacity: 0;
    animation: animation 500ms ease-in-out 600ms forwards;
    
}

.verifyPassword {
    transform: translateY(-2rem);
    opacity: 0;
    animation: animation 500ms ease-in-out 800ms forwards;
    
}

.referral {
    transform: translateY(-2rem);
    opacity: 0;
    animation: animation 500ms ease-in-out 1000ms forwards;
    
}

.stack {
    transform: translateY(-2rem);
    opacity: 0;
    animation: animation 500ms ease-in-out 1200ms forwards;

}