.projectImage {
    // background-image: url(../../../assets/svg/createProject.svg);
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    background-position: center;
  }