.projectImage {
  background-image: url(../../../assets/svg/createProject.svg);
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  background-position: center;
}

// .cardDelete {
//     opacity: 0;
//     transform: translateX(1rem);
//     transition: all 500ms;
// }

// .projectCard:hover {
//     .cardDelete {
//         opacity: 1;
//         transform: translateX(0rem);
//     }
// }
